image: node:latest

stages:
  - setup
  - test
  - build
  

cache:
  paths:
    - node_modules/

setup:
  stage: setup
  script:
    - npm ci
  only:
    - master

lint:
  stage: test
  script:
    - npm run lint
  only:
    - master

build_default:
  stage: build
  except: [ tags ]
  script:
    - npm run build
  artifacts:
    name: "$CI_PROJECT_NAME"
    when: on_success
    expire_in: 2 weeks
    paths:
      - dist/canned-lab/

build_tags:
  stage: build
  only: [ tags ]
  script:
    - npm run build-prod
  artifacts:
    name: "$CI_PROJECT_NAME-$CI_COMMIT_TAG"
    when: on_success
    expire_in: 2 years
    paths:
      - dist/canned-lab/
