image: node:latest

stages:
  - build
  - test

cache:
  paths:
    - node_modules/

install_dependencies:
  stage: build
  script:
    - npm install
  artifacts:
    expire_in: 2 weeks
    paths:
      - node_modules/

build_default:
  stage: build
  except: [ tags ]
  script:
    - npm run build
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    when: on_success
    expire_in: 2 weeks
    paths:
      - dist/canned-lab/

build_tags:
  stage: build
  only: [ tags ]
  script:
    - npm run build
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME-$CI_COMMIT_TAG"
    when: on_success
    expire_in: 2 years
    paths:
      - dist/canned-lab/

lint:
  stage: test
  script:
    - npm run lint
