<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list [cols]="breakpoint" rowHeight="500px" (window:resize)="onResize($event)">
    <mat-grid-tile [colspan]="breakpoint" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Produkt-Liste
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <table mat-table multiTemplateDataRows [dataSource]="products" class="mat-elevation-z8" aria-describedby="Produkte">
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef scope="col"> Nr. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef scope="col"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Typ Column -->
              <ng-container matColumnDef="typ">
                <th mat-header-cell *matHeaderCellDef scope="col"> Typ </th>
                <td mat-cell *matCellDef="let element"> {{element.typ}} </td>
              </ng-container>

               <!-- Date Column -->
               <ng-container matColumnDef="canDate">
                <th mat-header-cell *matHeaderCellDef scope="col"> Eingekocht </th>
                <td mat-cell *matCellDef="let element"> {{element.canDate | date: 'dd.MM.yyyy'}} </td>
              </ng-container>

               <!-- Date Column -->
               <ng-container matColumnDef="mhdDate">
                <th mat-header-cell *matHeaderCellDef scope="col"> MHD </th>
                <td mat-cell *matCellDef="let element"> {{element.mhdDate | date: 'dd.MM.yyyy'}} </td>
              </ng-container>

               <!-- Qty Column -->
               <ng-container matColumnDef="menge">
                <th mat-header-cell *matHeaderCellDef scope="col" class="textcenter"> Menge </th>
                <td mat-cell *matCellDef="let element" class="textcenter">
                  <button mat-button (click)="clickSubstract(element)" [disabled]="element.menge<1" id="btn"><span id="btn">-</span></button>
                  <span>{{element.menge}}</span>
                  <button mat-button (click)="clickAdd(element)" [disabled]="element.menge<1" id="btn"><span id="btn">+</span></button>
                </td>
              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div class="expandable-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div>
                      <img [src]="element.image" height="200" alt="Kein Bild gefunden.">
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; "></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"  class="expandable-element-row"
                [class.expandable-expanded-row]="expandedElement === row"
                [class.deleteRow]="row.menge<1"
                [class.mhdWarning]="triggerWarning(row)"
                (click)="toggleExpand($event, row)">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expandable-detail-row"></tr>

          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Einkoch-Liste
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <table mat-table multiTemplateDataRows [dataSource]="eingekocht" class="mat-elevation-z8" aria-describedby="Produkte">
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef scope="col"> Nr. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef scope="col"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Typ Column -->
              <ng-container matColumnDef="typ">
                <th mat-header-cell *matHeaderCellDef scope="col"> Typ </th>
                <td mat-cell *matCellDef="let element"> {{element.typ}} </td>
              </ng-container>

               <!-- Date Column -->
               <ng-container matColumnDef="canDate">
                <th mat-header-cell *matHeaderCellDef scope="col"> Eingekocht </th>
                <td mat-cell *matCellDef="let element"> {{element.canDate | date: 'dd.MM.yyyy'}} </td>
              </ng-container>

               <!-- Qty Column -->
               <ng-container matColumnDef="menge">
                <th mat-header-cell *matHeaderCellDef scope="col" class="textcenter"> Menge </th>
                <td mat-cell *matCellDef="let element" class="textcenter">
                  <button mat-button (click)="clickSubstract(element)" [disabled]="element.menge<1" id="btn"><span id="btn">-</span></button>
                  <span>{{element.menge}}</span>
                  <button mat-button (click)="clickAdd(element)" [disabled]="element.menge<1" id="btn"><span id="btn">+</span></button>
                </td>
              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedCanColumns.length">
                  <div class="expandable-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div>
                      <img [src]="element.image" height="200" alt="Kein Bild gefunden.">
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedCanColumns; "></tr>
              <tr mat-row *matRowDef="let row; columns: displayedCanColumns;"  class="expandable-element-row"
                [class.expandable-expanded-row]="expandedElement === row"
                [class.deleteRow]="row.menge<1"
                [class.mhdWarning]="triggerWarning(row)"
                (click)="toggleExpand($event, row)">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expandable-detail-row"></tr>

          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Einkauf-Liste
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <table mat-table multiTemplateDataRows [dataSource]="gekauft" class="mat-elevation-z8" aria-describedby="Produkte">
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef scope="col"> Nr. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef scope="col"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Typ Column -->
              <ng-container matColumnDef="typ">
                <th mat-header-cell *matHeaderCellDef scope="col"> Typ </th>
                <td mat-cell *matCellDef="let element"> {{element.typ}} </td>
              </ng-container>

               <!-- Date Column -->
               <ng-container matColumnDef="mhdDate">
                <th mat-header-cell *matHeaderCellDef scope="col"> MHD </th>
                <td mat-cell *matCellDef="let element"> {{element.mhdDate | date: 'dd.MM.yyyy'}} </td>
              </ng-container>

               <!-- Qty Column -->
               <ng-container matColumnDef="menge">
                <th mat-header-cell *matHeaderCellDef scope="col" class="textcenter"> Menge </th>
                <td mat-cell *matCellDef="let element" class="textcenter">
                  <button mat-button (click)="clickSubstract(element)" [disabled]="element.menge<1" id="btn"><span id="btn">-</span></button>
                  <span>{{element.menge}}</span>
                  <button mat-button (click)="clickAdd(element)" [disabled]="element.menge<1" id="btn"><span id="btn">+</span></button>
                </td>
              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedBuyColumns.length">
                  <div class="expandable-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div>
                      <img [src]="element.image" height="200" alt="Kein Bild gefunden.">
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedBuyColumns; "></tr>
              <tr mat-row *matRowDef="let row; columns: displayedBuyColumns;"  class="expandable-element-row"
                [class.expandable-expanded-row]="expandedElement === row"
                [class.deleteRow]="row.menge<1"
                [class.mhdWarning]="triggerWarning(row)"
                (click)="toggleExpand($event, row)">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expandable-detail-row"></tr>

          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
