.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  overflow-y: auto;
  height: 400px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

table {
  width: 100%;
  box-shadow: none;
}

tr.expandable-detail-row {
  height: 0;
}

tr.expandable-element-row:not(.expandable-expanded-row):hover {
  background: whitesmoke;
}

tr.expandable-element-row:hover {
  background: whitesmoke;
}

tr.expandable-element-row:not(.expandable-expanded-row):active {
  background: #efefef;
}

.expandable-element-row td {
  border-bottom-width: 0;
}

.expandable-element-detail {
  overflow: hidden;
  display: flex;
}

.expandable-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.expandable-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.expandable-element-description {
  padding: 16px;
}

.expandable-element-description-attribution {
  opacity: 0.5;
}

.deleteRow .mat-cell{
  opacity: 60%;
  text-decoration: line-through;
}

.textcenter
{
  text-align: center;
}

.mhdWarning .mat-cell
{
 color: #FF5722 !important;
}

tr.expandable-element-row.mhdWarning:hover {
  background:  #FFCCBC;
}

tr.expandable-element-row.mhdWarning:not(.expandable-expanded-row):hover {
  background:  #FFCCBC;
}



